/* styling for navigation button */

.nav-button {
    border-radius: 4px;
    background-color:transparent;
    border: 1px solid darkgreen;
    color:black;
    font-size: 14px;
    padding: 14px;
    transition: all 0.5s;
    cursor: pointer;
    margin-right: 5px;
  
  }
  
  .nav-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition:0.5s;
  
  }
  
  .nav-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .nav-button:hover{
    background-color: darkgreen;
  }
  
  .nav-button:hover span {
    padding-right: 25px;
    
  }
  
  .nav-button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  /* styling for buttons in body */
  .nav-button2 {
    border-radius: 4px;
    background-color: darkgreen;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .nav-button3 {
    border-radius: 4px;
    background-color: darkgreen;
    border: none;
    color: white;
    padding: 16px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  

  
  .nav-button2:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .nav-button3:hover {
    background-color: #4CAF50;
    color: white;
  }


  /* Hire me button styling */
    .nav-button4 {
      display: inline-block;
      border-radius: 4px;
      background-color: #f4511e;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 28px;
      padding: 18px;
      width: 175px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
    }
  
    .nav-button4 span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
  
    .nav-button4 span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
  
    .nav-button4:hover span {
      padding-right: 25px;
    }
  
    .nav-button4:hover span:after {
      opacity: 1;
      right: 0;
    }